<!-- TODO: toggle isPublic in init rake data -->
<% if translation.isPublic == nil %>
	<p>
	  <%= f.label :source_content, "From" %><br />
	  <%= f.select(:source_language_id, Language.all.collect {|p| [p.ISOcode,p.id] }, { :include_blank => false }) %>
	  <%= f.text_field :source_content, :size => 80 %> 
	</p>
	<p>
	  <%= f.label :target_content, "To" %><br />
	  <%= f.select(:target_language_id, Language.all.collect {|p| [p.ISOcode,p.id] }, { :include_blank => false }) %>
	  <%= f.text_field :target_content, :size => 80 %>
	</p>
	
	<% if TranslationDomain.find_all_by_translation_id(translation) %>
	 <%= f.label :domains, "Domains" %><br />
	<% multi_select("translation",
	    "translation[domain_ids][]", 
	    Domain.all, 
	    translation.domains, 
	    :id,
	    {:text => [:code], :bracket => [:name]}
				)
	%>
	
	<% end %>
<% end %>
