%h1= t(:signup)

/ TODO include picture (use paperclip or like)
= form_for @user, :html => { :multipart => true } do |f|
  - if @user.errors.any?
    .error_messages
      %h2= t(:form_is_invalid)
      %ul
        - for message in @user.errors.full_messages
          %li= message
  %p
  = render :partial => "userform", :locals => {:f => f}
 
