<% if @translations.empty? %>
	<h2> <%= t(:no_translations_in_the_database)  %></h2>
<% else %>
		<strong> <%= t(:translations) %>:</strong>
		
		<%= will_paginate(@translations) %>
		
	<% for trans in @translations %>
	<!-- :TODO is public block -->

			<div class="translationbox">	
				<span class="sourcecontent"><%= trans.source_content %> 
					<span class="lang"><%= Language.find_by_id(trans.source_language_id).ISOcode unless trans.source_language_id.blank? %> </span><br />
					<span class="targetcontent"><%= trans.target_content %>
					<span class="lang"> <%= Language.find_by_id(trans.target_language_id).ISOcode unless trans.target_language_id.blank? %> </span><br />
					<% unless trans.last_updated_by.blank? %> 
					<span class="last_updated_by"><%= t(:last_updated_by) %>: <%= User.find_by_id(trans.last_updated_by).email %></span><br />
					<% end %>
					<span class="created_by"><%= t(:created_by) %>: <%= link_to "#{User.find_by_id(trans.created_by).email unless trans.created_by.blank?}", user_path(User.find_by_id(trans.created_by))  %> </span><br/>
		<% unless trans.domains.empty? %>
			<% for domain in trans.domains %>
					<!-- TODO: access descriptions using 118n table  -->
					<span class="domains"><%= domain.code  %> | <%= domain.name %></span>
			<% end %>	
		<% end %>
		<br />
		<%= link_to t(:edit_translation), edit_repo_translation_path(@repo, trans) %> 
	<% end %>
			</div>	
<% end %>
